{% extends 'base.html' %}

{% block content %}
    <div class="form">
        <form id="gsearch_form" action="https://google.com/search" method="GET" target="_blank">
            <div class="input-container">
                <input type="text" class="input" placeholder="search in google" name="q">
            </div>
            <div class="submit-container">
                <input type="submit" class="submit" value="Submit" onclick="reset_form()">
            </div>
        </form>
    </div>
    <script>
        function reset_form() {
            document.getElementById("gsearch_form").submit();
            document.getElementById("gsearch_form").reset();
        }
    </script>
{% endblock content %}
